<!DOCTYPE html>
<html lang="en">
<%- include('../head.ejs') %>

    <body>
        <%- include('../nav.ejs') %>

            <div class="container-fluid mt-3 mb-3 d-flex align-items-center">
                <input class="form-control me-2 search" type="search" placeholder="Search" aria-label="Search"
                    name="search" />
                <button class="btn btn-outline-secondary search-btn" type="submit">
                    Search
                </button>
            </div>

            <% if (postList.length==0) { %>
                <div class="container mx-3 my-5">목록이 없습니다</div>
                <% } %>
                    <% for (let i=0; i < postList.length; i++){ %>
                        <div class="card my-3 mx-4 px-3 py-3 listcard" style="max-width: 100%; min-height: 100%">
                            <a href="/post/detail/<%= postList[i]._id %>" class="none">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img src="<%= postList[i].img != '' ? postList[i].img : '/pencil1.png' %>"
                                            class="img-fluid rounded-start" alt="..."
                                            style="width: 100%; aspect-ratio: 1" />
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= postList[i].title %>
                                            </h5>
                                            <p class="card-text" style="white-space: pre-line">
                                                <% for (let j=0; j < 8; j++) { %>
                                                    <%= postList[i].content.split('\n')[j] %>
                                                        <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <% } %>

                            <nav aria-label="Page navigation">
                                <ul class="pagination d-flex justify-content-center">
                                    <li class="page-item previous <%= page == 1 ? 'disabled' : '' %>">
                                        <a class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item <%= page == 1 ? 'active' : '' %>">
                                        <a class="page-link"
                                            href="/post/list?page=<%= page == 1 ? 1 : parseInt(page) - 1 %>">
                                            <%= page==1 ? 1 : parseInt(page) - 1 %>
                                        </a>
                                    </li>
                                    <li
                                        class="page-item <%= page != 1 ? 'active' : '' %> <%= page == 1 && 2 > parseInt(maxPage) ? 'disabled' : '' %> ">
                                        <a class="page-link"
                                            href="/post/list?page=<%= page == 1 ? 2 : parseInt(page) %>">
                                            <%= page==1 ? 2 : parseInt(page) %>
                                        </a>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link <%= page == 1 && 3 > parseInt(maxPage) ? 'disabled' : '' %> <%= parseInt(page) >= parseInt(maxPage) ? 'disabled' : '' %>"
                                            href="/post/list?page=<%= page == 1 ? 3 : parseInt(page) + 1 %>">
                                            <%= page==1 ? 3 : parseInt(page) + 1%>
                                        </a>
                                    </li>
                                    <li class="page-item next <%= page >= maxPage ? 'disabled' : '' %>">
                                        <a class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                            <script>
                                document
                                    .querySelector('.previous')
                                    .addEventListener('click', (e) => {
                                        console.log('이전 버튼 클릭');

                                        let currentPage = '<%= parseInt(page) %>';

                                        if (currentPage > 1) {
                                            previousPage = parseInt(currentPage) - 1;

                                            location.href = `/post/list?page=${previousPage}`;
                                        }
                                    });
                            </script>

                            <script>
                                document.querySelector('.next').addEventListener('click', (e) => {
                                    console.log('다음 버튼 클릭');

                                    const maxPage = '<%= parseInt(maxPage) %>';
                                    let currentPage = '<%= parseInt(page) %>';

                                    // 현재 페이지가 maxPage보다 작을 때, 다음 페이지로 가는 로직
                                    if (currentPage < maxPage) {
                                        nextPage = parseInt(currentPage) + 1;

                                        location.href = `/post/list?page=${nextPage}`;
                                    }
                                });
                            </script>

                            <script>
                                document
                                    .getElementsByClassName('search-btn')[0]
                                    .addEventListener('click', async (e) => {
                                        try {
                                            const search = document.querySelector('.search').value;
                                            location.href = `/post/search?value=${search}`;
                                        } catch (err) {
                                            console.error('네트워크 오류', err);
                                        }
                                    });
                            </script>

                            <script></script>

                            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                                crossorigin="anonymous"></script>
    </body>

</html>